@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;  
    font-family: $f-family1;    
    color: $white;
}

body {
    background-color: $white;
}

.container {
    width: $container-xs;
    margin: 0 auto;
}



/* Git:

1ero: utilizo el comando Git init (Inicio git)
2do: git add ( Subo al Stay Area)
3ero: git commit (Para enviarlo al Local)
4to: git push (A la plataforma de Github)

--------
Cuando realizo modificaciones: 

1ero: git add (para añadir los archivos que modifique)
2do: git status (para chequear que este correcto)
3ro: git commit -m "lo que quiero comentar" (es para dar info de los cambios)
4to: git push  y desp git push -u origin master (ahi subo a la plataforma) 

*/