@media screen and (max-width: 576px) {
    .form-inline {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .col-sm-4{

        display: flex;
        flex-direction: row !important;
        width: 80%;
        padding-top: $spacing-lg*2;       
    }

    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .main .main__footer{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;

        p{
            padding: 0;
            width: 80%;

        }
    }
    
    .footer__logoPieDePagina{
        height: 50px ;
    }
    
    .mapa__iframe{
        width: 100% ;

    }

    .container__mapa{
        width: 100%;
    }
    
    .main__containerNosotros2{
        width: 100%;
    }

    .nav-item {

        .dropdown{
        display: flex;
        flex-direction: column ;
        justify-content: flex-start;
        width: 10% ;

    }
        .dropdown-menu.show{    
            display: flex;
            width: auto;
            flex-direction: column;
            align-items: flex-start;

        }

        a.nav-link {
            color: #000;
        }

        
}
    .main .jumbotron__texto{
    width: 80%;
    font-size: $f-large;
    }
}

@media screen and (min-width: 768px) {
    .container{
        width: $container-md;
    }
}
@media screen and (min-width: 992px) {
    .container{
        width: $container-lg;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        width: $container-xl;
    }
}
@media screen and (min-width: 1400px) {
    .container{
        width: $container-xxl;
    }
}