<<<<<<< HEAD
@media screen and (max-width: 300px)  {
    .row{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        padding-top: $spacing-lg*3;
    }
    .form-inline {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }    
    .col-sm-5{
        width: 80%;
    }

    .informacion__jumbotron{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;        
        color: $black;
        padding-bottom: $spacing*5;
        align-items: center;
        padding-top: $spacing-lg;
        

    }

    .col-sm-4{

        display: flex;
        flex-direction:column;
        width: 100%;
        padding-top: $spacing-lg*2;        
    }
    .main .jumbotron__button{        
        font-size: $f-large*2;       
    }

    .main .informacion__jumbotron{
        h1{font-size: $f-title;}
        p{font-size: $f-large*2.2;}
    }

    .container__footer{
        width: $full-width;
        display: flex;                     
        align-items: flex-end;        
        background-color: $blue-dark;        
        justify-content: flex-start;
        padding-left: $spacing-lg*2.5;   
        padding-top: $spacing-lg*2.5;  
        padding-bottom: $spacing-lg*2; 
        border-top: $spacing-sm solid $blue-light; 

            .info__nombre h3{
                font-size: $f-large*2.6;
            }
            .info__texto 
           
                p{                                       
                padding-left: $spacing-lg;
                font-size: $f-large*2.6;
            }

}
}
@media screen and (min-width: 300px) and (max-width: 575px) {
    .row{
        display: flex;
        flex-direction: column;
        width: 100%;       
        align-items: center;
        
    }   

    .col-sm-5 {
        padding-top: $spacing-lg*3;
        width: 80%;
        max-width: 100%;       
    }
    .col-sm-4 {
        padding-top: $spacing-lg;
        width: 100%;
        max-width: 100%; 
    }

    .informacion__jumbotron{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;        
        color: $black;
        padding-bottom: $spacing;
        align-items: center;
        padding-top: $spacing-lg;
        

    }
    .main .jumbotron__button{        
        font-size: $f-large*2;
               
    }
    
    .main .informacion__jumbotron{
        h1{font-size: $f-title;}
        p{font-size: $f-large*2.6;}
    }

    .container__footer{
        width: $full-width;
        display: flex;                     
        align-items: flex-end;        
        background-color: $blue-dark;        
        justify-content: flex-start;
        padding-left: $spacing-lg*2.5;   
        padding-top: $spacing-lg*2.5;  
        padding-bottom: $spacing-lg*2; 
        border-top: $spacing-sm solid $blue-light; 

            .info__nombre h3{
                font-size: $f-large*2.6;
            }
            .info__texto 
           
                p{                                       
                padding-left: $spacing-lg;
                font-size: $f-large*2.6;
            }

}
}
@media screen and (min-width: 576px) and (max-width: 991px){

    .col-sm-5 {
        width: 80%;
        max-width: 100%; 
        padding-top: $spacing-lg*3;      
    }
    .col-sm-4 {
        padding-top: $spacing-lg;
        width: 100%;
        max-width: 100%; 
    }

    .informacion__jumbotron{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;        
        color: $black;
        padding-bottom: $spacing*5;
        align-items: center;
        padding-top: $spacing-lg;
        

    }

    .row{
        display: flex;
        flex-direction: column;
        width: 100%;        
        align-items: center;
        
    }   
    .main img {
        height: 100%;
        width: 100%;
    }
    .main .jumbotron__button{        
        font-size: $f-large*2;
               
    }
    
    .main .informacion__jumbotron{
        h1{font-size: $f-title;}
        p{font-size: $f-large*2.2;}
    }
    .container__footer{
        width: $full-width;
        display: flex;                     
        align-items: flex-end;        
        background-color: $blue-dark;        
        justify-content: flex-start;
        padding-left: $spacing-lg*2.5;   
        padding-top: $spacing-lg*2.5;  
        padding-bottom: $spacing-lg*2; 
        border-top: $spacing-sm solid $blue-light; 

            .info__nombre h3{
                font-size: $f-large*2.6;
            }
            .info__texto 
           
                p{                                       
                padding-left: $spacing-lg;
                font-size: $f-large*1.5;
            }

}
    
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .row{
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;

    }

    .form-inline {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }    
    .col-sm-5 {
        padding-top: $spacing-lg*3;        
        display: flex;
        justify-content: center;
        width: 80%;
        max-width: 100%;       
    }
    .col-sm-4 {
        padding-top: $spacing-lg;
        width: 100%;
        max-width: 100%; 
    }

    .main.informacion__jumbotron h1{
        font-size: $f-large;
    }
    .main .jumbotron__button{        
        font-size: $f-large*2;
        
        
        
    }
    .main .informacion__jumbotron{
        h1{font-size: $f-title;}
        p{font-size: $f-large*2.2;}
    }
    .container__footer{
        width: $full-width;
        display: flex;                     
        align-items: flex-end;        
        background-color: $blue-dark;        
        justify-content: flex-start;
        padding-left: $spacing-lg*2.5;   
        padding-top: $spacing-lg*2.5;  
        padding-bottom: $spacing-lg*2; 
        border-top: $spacing-sm solid $blue-light; 

            .info__nombre h3{
                font-size: $f-large*2.6;
            }
            .info__texto 
           
                p{                                       
                padding-left: $spacing-lg;
                font-size: $f-large*2.6;
            }
        }
        .container__footer{
            width: $full-width;
            display: flex;                     
            align-items: flex-end;        
            background-color: $blue-dark;        
            justify-content: flex-start;
            padding-left: $spacing-lg*2.5;   
            padding-top: $spacing-lg*2.5;  
            padding-bottom: $spacing-lg*2; 
            border-top: $spacing-sm solid $blue-light; 
    
                .info__nombre h3{
                    font-size: $f-large*2.6;
                }
                .info__texto 
               
                    p{                                       
                    padding-left: $spacing-lg;
                    font-size: $f-large*1.25;
                }
    
    }
}
@media screen and (min-width: 1200px){
    
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;

    }

    .col-sm-4{
        padding-top: $spacing-lg;
        width: 100%;
    }
    

    .form-inline {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .main .jumbotron__button{        
        font-size: $f-medium;
        padding-bottom: $spacing;
        padding-top: $spacing-lg*5;
        
        
        
    }
    .main .informacion__jumbotron{
        h1{font-size: $f-large*2}
        p{font-size: $f-small}
    }
    .container__footer{
        width: $full-width;
        display: flex;                     
        align-items: flex-end;        
        background-color: $blue-dark;        
        justify-content: flex-start;
        padding-left: $spacing-lg*2.5;   
        padding-top: $spacing-lg*2.5;  
        padding-bottom: $spacing-lg*2; 
        border-top: $spacing-sm solid $blue-light; 

            .info__nombre h3{
                font-size: $f-large;
            }
            .info__texto 
           
                p{                                       
                padding-left: $spacing-lg;
                font-size: $f-large;
            }
        }
        .footer__redesSociales{
        
            display: flex;
            flex-direction: row;
            color: $white;
            align-items: flex-start;
            justify-content: flex-end;
            padding-left: $spacing-lg*3;
           
                li{
                display: flex;
                align-items: center;
                height:$spacing;
                font-size: $f-medium;
                list-style: none;
                color: $white;
                padding: $spacing;
            }
    
            .redesSociales__logos{
                display: flex ;
                flex-direction: row;
                font-size: $f-medium;
            }
            .logos{
                                width: $spacing-lg;
            }
        }
}
=======
@media screen and (max-width: 300px)  {
    .row{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        padding-top: $spacing-lg*3;
    }
    .form-inline {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }    
    .col-sm-5{
        width: 80%;
    }

    .informacion__jumbotron{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;        
        color: $black;
        padding-bottom: $spacing*5;
        align-items: center;
        padding-top: $spacing-lg;
        

    }

    .col-sm-4{

        display: flex;
        flex-direction:column;
        width: 100%;
        padding-top: $spacing-lg*2;        
    }
    .main .jumbotron__button{        
        font-size: $f-large*2;       
    }

    .main .informacion__jumbotron{
        h1{font-size: $f-title;}
        p{font-size: $f-large*2.2;}
    }

    .container__footer{
        width: $full-width;
        display: flex;                     
        align-items: flex-end;        
        background-color: $blue-dark;        
        justify-content: flex-start;
        padding-left: $spacing-lg*2.5;   
        padding-top: $spacing-lg*2.5;  
        padding-bottom: $spacing-lg*2; 
        border-top: $spacing-sm solid $blue-light; 

            .info__nombre h3{
                font-size: $f-large*2.6;
            }
            .info__texto 
           
                p{                                       
                padding-left: $spacing-lg;
                font-size: $f-large*2.6;
            }

}
}
@media screen and (min-width: 300px) and (max-width: 575px) {
    .row{
        display: flex;
        flex-direction: column;
        width: 100%;       
        align-items: center;
        
    }   

    .col-sm-5 {
        padding-top: $spacing-lg*3;
        width: 80%;
        max-width: 100%;       
    }
    .col-sm-4 {
        padding-top: $spacing-lg;
        width: 100%;
        max-width: 100%; 
    }

    .informacion__jumbotron{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;        
        color: $black;
        padding-bottom: $spacing;
        align-items: center;
        padding-top: $spacing-lg;
        

    }
    .main .jumbotron__button{        
        font-size: $f-large*2;
               
    }
    
    .main .informacion__jumbotron{
        h1{font-size: $f-title;}
        p{font-size: $f-large*2.6;}
    }

    .container__footer{
        width: $full-width;
        display: flex;                     
        align-items: flex-end;        
        background-color: $blue-dark;        
        justify-content: flex-start;
        padding-left: $spacing-lg*2.5;   
        padding-top: $spacing-lg*2.5;  
        padding-bottom: $spacing-lg*2; 
        border-top: $spacing-sm solid $blue-light; 

            .info__nombre h3{
                font-size: $f-large*2.6;
            }
            .info__texto 
           
                p{                                       
                padding-left: $spacing-lg;
                font-size: $f-large*2.6;
            }

}
}
@media screen and (min-width: 576px) and (max-width: 991px){

    .col-sm-5 {
        width: 80%;
        max-width: 100%; 
        padding-top: $spacing-lg*3;      
    }
    .col-sm-4 {
        padding-top: $spacing-lg;
        width: 100%;
        max-width: 100%; 
    }

    .informacion__jumbotron{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;        
        color: $black;
        padding-bottom: $spacing*5;
        align-items: center;
        padding-top: $spacing-lg;
        

    }

    .row{
        display: flex;
        flex-direction: column;
        width: 100%;        
        align-items: center;
        
    }   
    .main img {
        height: 100%;
        width: 100%;
    }
    .main .jumbotron__button{        
        font-size: $f-large*2;
               
    }
    
    .main .informacion__jumbotron{
        h1{font-size: $f-title;}
        p{font-size: $f-large*2.2;}
    }
    .container__footer{
        width: $full-width;
        display: flex;                     
        align-items: flex-end;        
        background-color: $blue-dark;        
        justify-content: flex-start;
        padding-left: $spacing-lg*2.5;   
        padding-top: $spacing-lg*2.5;  
        padding-bottom: $spacing-lg*2; 
        border-top: $spacing-sm solid $blue-light; 

            .info__nombre h3{
                font-size: $f-large*2.6;
            }
            .info__texto 
           
                p{                                       
                padding-left: $spacing-lg;
                font-size: $f-large*1.5;
            }

}
    
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .row{
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;

    }

    .form-inline {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }    
    .col-sm-5 {
        padding-top: $spacing-lg*3;        
        display: flex;
        justify-content: center;
        width: 80%;
        max-width: 100%;       
    }
    .col-sm-4 {
        padding-top: $spacing-lg;
        width: 100%;
        max-width: 100%; 
    }

    .main.informacion__jumbotron h1{
        font-size: $f-large;
    }
    .main .jumbotron__button{        
        font-size: $f-large*2;
        
        
        
    }
    .main .informacion__jumbotron{
        h1{font-size: $f-title;}
        p{font-size: $f-large*2.2;}
    }
    .container__footer{
        width: $full-width;
        display: flex;                     
        align-items: flex-end;        
        background-color: $blue-dark;        
        justify-content: flex-start;
        padding-left: $spacing-lg*2.5;   
        padding-top: $spacing-lg*2.5;  
        padding-bottom: $spacing-lg*2; 
        border-top: $spacing-sm solid $blue-light; 

            .info__nombre h3{
                font-size: $f-large*2.6;
            }
            .info__texto 
           
                p{                                       
                padding-left: $spacing-lg;
                font-size: $f-large*2.6;
            }
        }
        .container__footer{
            width: $full-width;
            display: flex;                     
            align-items: flex-end;        
            background-color: $blue-dark;        
            justify-content: flex-start;
            padding-left: $spacing-lg*2.5;   
            padding-top: $spacing-lg*2.5;  
            padding-bottom: $spacing-lg*2; 
            border-top: $spacing-sm solid $blue-light; 
    
                .info__nombre h3{
                    font-size: $f-large*2.6;
                }
                .info__texto 
               
                    p{                                       
                    padding-left: $spacing-lg;
                    font-size: $f-large*1.25;
                }
    
    }
}
@media screen and (min-width: 1200px){
    
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;

    }

    .col-sm-4{
        padding-top: $spacing-lg;
        width: 100%;
    }
    

    .form-inline {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .main .jumbotron__button{        
        font-size: $f-medium;
        padding-bottom: $spacing;
        padding-top: $spacing-lg*5;
        
        
        
    }
    .main .informacion__jumbotron{
        h1{font-size: $f-large*2}
        p{font-size: $f-small}
    }
    .container__footer{
        width: $full-width;
        display: flex;                     
        align-items: flex-end;        
        background-color: $blue-dark;        
        justify-content: flex-start;
        padding-left: $spacing-lg*2.5;   
        padding-top: $spacing-lg*2.5;  
        padding-bottom: $spacing-lg*2; 
        border-top: $spacing-sm solid $blue-light; 

            .info__nombre h3{
                font-size: $f-large;
            }
            .info__texto 
           
                p{                                       
                padding-left: $spacing-lg;
                font-size: $f-large;
            }
        }
        .footer__redesSociales{
        
            display: flex;
            flex-direction: row;
            color: $white;
            align-items: flex-start;
            justify-content: flex-end;
            padding-left: $spacing-lg*3;
           
                li{
                display: flex;
                align-items: center;
                height:$spacing;
                font-size: $f-medium;
                list-style: none;
                color: $white;
                padding: $spacing;
            }
    
            .redesSociales__logos{
                display: flex ;
                flex-direction: row;
                font-size: $f-medium;
            }
            .logos{
                                width: $spacing-lg;
            }
        }
}
>>>>>>> 10255eaa75ca2aed0efb1b127ac1ba29e362b206
