.navbar {

      padding: 0;
      margin: 0;


    .navbar__logo{

        display: inline-flex;
        height: $spacing*4;
        border-radius: 100%;
        margin-left: $spacing-sm;
        margin: $spacing;        
        align-items: center;
    }
    
    li.nav-item.dropdown{
      display: flex;      
      background-color: $grey;      
      padding: 0;
      margin: 0;      
      width: auto;
      flex-direction: row;
      justify-content: flex-start;
    }

    .btn-outline-success{
      color: $blue-dark;
      border-color: $blue-dark;
    }

    .form-inline{
      padding-right: $spacing-lg;
    }

    .navbar-brand{
      font-family: $f-family2;
      font-size: large;
    }

    .nav-link{
      font-family: $f-family2;
      font-size: large;

    }

    .nav-link{
      color: rgba($color: #000000, $alpha: 1.0) ;
    }

}
