<<<<<<< HEAD
.navbar {

      padding: 0;
      margin: 0;


    .navbar__logo{

        display: inline-flex;
        height: $spacing*4;
        border-radius: 100%;
        margin-left: $spacing-sm;
        margin: $spacing;        
        align-items: center;
    }
    
    li.nav-item.dropdown{
      display: flex;  
      padding: 0;
      margin: 0;      
      width: auto;
      flex-direction: row;
      justify-content: flex-start;
    }

    .btn-outline-success{
      color: $blue-dark;
      border-color: $blue-dark;
    }

    .form-inline{
      padding-right: $spacing-lg;
    }

    .navbar-brand{
      font-family: $f-family2;
      font-size: large;
    }

    .nav-link{
      font-family: $f-family2;
      font-size: large;
      color: $black;

    }

    .navbar-light .navbar-nav .nav-link {
      color: #000;;
    }

    

   
}
=======
.navbar {

      padding: 0;
      margin: 0;


    .navbar__logo{

        display: inline-flex;
        height: $spacing*4;
        border-radius: 100%;
        margin-left: $spacing-sm;
        margin: $spacing;        
        align-items: center;
    }
    
    li.nav-item.dropdown{
      display: flex;  
      padding: 0;
      margin: 0;      
      width: auto;
      flex-direction: row;
      justify-content: flex-start;
    }

    .btn-outline-success{
      color: $blue-dark;
      border-color: $blue-dark;
    }

    .form-inline{
      padding-right: $spacing-lg;
    }

    .navbar-brand{
      font-family: $f-family2;
      font-size: large;
    }

    .nav-link{
      font-family: $f-family2;
      font-size: large;
      color: $black;

    }

    .navbar-light .navbar-nav .nav-link {
      color: #000;;
    }

    

   
}
>>>>>>> 10255eaa75ca2aed0efb1b127ac1ba29e362b206
