<<<<<<< HEAD


$blue-dark:     rgb(23, 0, 128);
$blue:          rgb(31, 28, 224);
$grey:          rgb(221, 221, 221);
$blue-light:    rgb(29, 131, 233);
$blue-text:     rgb(133, 193, 241);
$white:         rgb(245,245,245);
$black:         rgb(0, 0, 0);
$green-ligth:   rgb(6, 59, 43);

$f-family1: 'Kumbh Sans', sans-serif;
$f-family2: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
$f-family3: 'Montserrat', sans-serif;

$f-small: 0.875vw;
$f-medium: 1vw;
$f-large: 1.275vw;
$f-title: 4.5vw;
$f-title2: 2.2vw;

$spacing: 1vw;
$spacing-lg:2vw;
$spacing-sm:0.4vw;

$full-height: 100vh;
$full-width:100%;
$container-height: 15vw;

$container-xs:  100%;
$container-sm:  540px;
$container-md:  720px;
$container-lg:  960px;
$container-xl:  1140px;
$container-xxl: 1320px;

$border1: 3px rgb(23, 0, 128) solid ;
$border2: 3px rgb(226, 221, 221) solid ;

$transition1:  0.7s;
$transform: scale(1,1);

$transition: all 0.3s ease 0s;   
$transform: scale(1.1);

// Inicio mapa-bucle sccs //
  

@each  $social in facebook,youtube,instagram {

    #social-#{$social}{
        width:  1.9vw;
        height: 1.9vw;
        display: block;
        align-items: stretch;
        border-radius: 10%;
        background-image: url("../Imagenes/Redes/#{$social}.png"); 
        background-repeat:no-repeat 
    }
        
    } 
 

=======


$blue-dark:     rgb(23, 0, 128);
$blue:          rgb(31, 28, 224);
$grey:          rgb(221, 221, 221);
$blue-light:    rgb(29, 131, 233);
$blue-text:     rgb(133, 193, 241);
$white:         rgb(245,245,245);
$black:         rgb(0, 0, 0);
$green-ligth:   rgb(6, 59, 43);

$f-family1: 'Kumbh Sans', sans-serif;
$f-family2: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
$f-family3: 'Montserrat', sans-serif;

$f-small: 0.875vw;
$f-medium: 1vw;
$f-large: 1.275vw;
$f-title: 4.5vw;
$f-title2: 2.2vw;

$spacing: 1vw;
$spacing-lg:2vw;
$spacing-sm:0.4vw;

$full-height: 100vh;
$full-width:100%;
$container-height: 15vw;

$container-xs:  100%;
$container-sm:  540px;
$container-md:  720px;
$container-lg:  960px;
$container-xl:  1140px;
$container-xxl: 1320px;

$border1: 3px rgb(23, 0, 128) solid ;
$border2: 3px rgb(226, 221, 221) solid ;

$transition1:  0.7s;
$transform: scale(1,1);

$transition: all 0.3s ease 0s;   
$transform: scale(1.1);

// Inicio mapa-bucle sccs //
  

@each  $social in facebook,youtube,instagram {

    #social-#{$social}{
        width:  1.9vw;
        height: 1.9vw;
        display: block;
        align-items: stretch;
        border-radius: 10%;
        background-image: url("../Imagenes/Redes/#{$social}.png"); 
        background-repeat:no-repeat 
    }
        
    } 
 

>>>>>>> 10255eaa75ca2aed0efb1b127ac1ba29e362b206
//// Fin mapa-Bucle each//